*.patch
*.so
*.o
*.dll
*.Rproj
/src/Makevars
/config.log
/config.status
autom4te.cache*
/src-i386/
/src-x64/
/src/openssl/
local320.zip
gsl
gsl.zip
/src/gsl/
inst/doc
/vignettes/img/SimInf-SIR-mparse-IV.pdf
/vignettes/img/SimInf-SIR-mparse-incidence-plot.pdf
/vignettes/img/SimInf-SIR-plot-proportion.pdf
/vignettes/img/SimInf-SIR-run-outer-plot.pdf
/vignettes/img/SimInf-SIR-spaghetti-plot.pdf
/vignettes/img/SimInf-mparse-predator-prey-pairs.pdf
/vignettes/img/SimInf-mparse-predator-prey-plot.pdf
/vignettes/img/SimInf-display-SISe3sp-model.pdf
/vignettes/img/SimInf-display-population-dynamics.pdf
/vignettes/img/SimInf-plot-SISe3sp-I.pdf
/vignettes/img/SimInf-plot-SISe3sp-II.pdf
/vignettes/img/SimInf-plot-SISe3sp-III.pdf
/vignettes/img/SimInf-population-size.pdf
/vignettes/SimInf.aux
/vignettes/SimInf.bbl
/vignettes/SimInf.blg
/vignettes/SimInf.log
/vignettes/SimInf.out
/vignettes/SimInf.pdf
/vignettes/SimInf.tex
