*.so
*.o
*.dll
*.Rproj
/src/Makevars
/config.log
/config.status
autom4te.cache*
/src-i386/
/src-x64/
gsl.zip
/src/gsl/
inst/doc
/vignettes/*.pdf
/vignettes/SimInf.aux
/vignettes/SimInf.bbl
/vignettes/SimInf.blg
/vignettes/SimInf.log
/vignettes/SimInf.out
/vignettes/SimInf.tex
/windows/
docs
