name: R-CI

on:
  push:
  pull_request:

jobs:
  R-CI:
    runs-on: ubuntu-latest
    container: fedora:latest

    steps:
      - uses: actions/checkout@v3

      - name: Install R
        run: dnf --assumeyes install langpacks-en R

      - name: Setup to install binary packages
        run: |
            dnf install "dnf-command(copr)"
            dnf copr enable iucar/cran
            dnf install R-CoprManager

      - name: R session information
        run: Rscript -e "sessionInfo()"

      - name: Build package
        run: R CMD build --no-manual .
